.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  height: 60vh;
  width: 40vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
